* text=auto eol=lf

*.swift text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.icns binary
*.mp3 binary
*.mp4 binary
*.dmg binary
